{% extends "layout.html" %}

{% block title %}
    Analisar
{% endblock %}

{% block main %}

<!--

<script type="text/javascript" src="{{ url_for('static', filename='build/plugins/sigma.layout.forceAtlas2.min.js')}}"></script>

-->

<script src="{{ url_for('static', filename='build/sigma.min.js')}}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script src="{{ url_for('static', filename='build/plugins/sigma.layout.forceAtlas2/supervisor.js')}}"></script>
<script src="{{ url_for('static', filename='build/plugins/sigma.layout.forceAtlas2/worker.js')}}"></script>

<!-- -->

<script src="{{ url_for('static', filename='index.js')}}"></script>


<style>
    html { height: 100%;}
    body { height: 100%;}
    #sigma-container { width:80%; height:550px; background-color:#E1E1E1; text-align:left; position: absolute}
</style>


<body>
    <div id='sigma-container'></div>
</body>

<!--
<script>

    // Liga o websocket
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);


    // Cria o grafo
    var graph = {
        nodes: [],
        edges: []
    };

    // Inicia o sigma
    var s = new sigma(
    {
        graph: graph,
        renderers: [{
            container: document.getElementById('sigma-container'),
            type: 'canvas'
        }],
        settings: {
            minEdgeSize: 0.1,
            maxEdgeSize: 2,
            minNodeSize: 1,
            maxNodeSize: 8,
            minArrowSize: 10
        }
    });


    // Pede pelos dados
    socket.emit('get_nodes');
    socket.emit('get_edges');


    // Ao receber os dados de um node
    socket.on('get_nodes', data =>
    {
        let x = 0;
        let y = 0;

        for (let point of data)
        {
            // cria o node
            node = {
                id: point[0],
                label: point[1],
                x: Math.random(),
                y: Math.random(),
                size: 3,
                color: '#000000'
            }

            //graph["nodes"].push(node)
            s.graph.addNode(node)
            x++
            y++
        }

    });


    // Ao receber os dados de um edge
    socket.on('get_edges', data =>
    {
        let counter = 0;

        for (let point of data)
        {
            // cria um edge
            edge = {
                id: counter,
                source: point[0],
                target: point[1],
                color: "#000000",
                size:1,
                type:'arrow',
             }

            //graph.edges.push(edge);
            s.graph.addEdge(edge)

            counter++
        }

    });


    // Carrega o grafo no sigma
    s.graph.read(graph);

    // Faz o sigma criar o grafo
    s.refresh();

    // inicia o algoritmo de espacialização
    s.startForceAtlas2({worker: true});
    console.log('force atlas started')


    // para o algoritmo apos 10s
    window.setTimeout(function() {s.killForceAtlas2()}, 10000);

    console.log('testing!!!!')

    //console.log(graph)








</script>
-->


{% endblock %}
