{% extends "layout.html" %}

{% block title %}
    Analisar
{% endblock %}

{% block main %}

<p>Grafo que mostra como os vídeos coletados recomendam ou são recomendados por outros (conforme setas das arestas).
Cor azul: vídeos "relevantes" segundo a busca do YT. Cor laranja: vídeos recomendados (profundidade 1 ou 2).
Quanto maior mais recomendado for um vídeo, maior e mais escuro é o nó.
</p>
<br>
<div>
    <a href="/navegar">
        <span class="left"></span>
        <span class="glyphicon glyphicon-menu-left"></span>
    </a>
</div>

<div>
    <a href="/tabelas">
        <span class="right"></span>
        <span class="glyphicon glyphicon-menu-right"></span>
    </a>
</div>



<!-- Sigma -->
<script src="{{ url_for('static', filename='build/sigma.min.js')}}"></script>

<!-- Socket IO -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<!-- Force Atlas -->
<script src="{{ url_for('static', filename='build/plugins/sigma.layout.forceAtlas2/supervisor.js')}}"></script>
<script src="{{ url_for('static', filename='build/plugins/sigma.layout.forceAtlas2/worker.js')}}"></script>

<!-- No overlap -->
<script src="{{ url_for('static', filename='build/plugins/sigma.layout.noverlap/sigma.layout.noverlap.js')}}"></script>
<script src="{{ url_for('static', filename='build/plugins/sigma.plugins.animate/sigma.plugins.animate.js')}}"></script>
<script src="{{ url_for('static', filename='build/plugins/sigma.parsers.json/sigma.parsers.json.js')}}"></script>


<!-- JS -->
<script src="{{ url_for('static', filename='index.js')}}"></script>



<style>
    html { height: 100%;}
    body { height: 100%;}
    #sigma-container { width:80%; height:550px; background-color:#E1E1E1; text-align:left; position: absolute}
</style>


<body>
    <div id='sigma-container'></div>
    <div class="popup">
        <span class="popuptext" id="myPopup"></span>
    </div>
</body>




{% endblock %}
