{% extends "layout.html" %}

{% block title %}
    Confirmação
{% endblock %}

{% block main %}

        <p> Todos os dados serão apagados definitivamente</p>
        <p> Deseja continuar? </p>
        <a class="nav-link" href="/apagar"> Apagar dados </a>
        <a class="nav-link" href="/tabelas"> Voltar </a>
    

    <footer class="small text-center text-muted" style="align: center">
        Código disponível no <a href="https://github.com/danielfeloiola/ytd-cloud">GitHub</a>.
    </footer>
{% endblock %}
