{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}


    {% if session.developer_key %}
    <a href="/coletar">
        <span class="right"></span>
        <span class="glyphicon glyphicon-menu-right"></span>
    </a>
    {% endif %}



{% if msg %}
    <div class="alert alert-success" role="alert">
        {{ msg }}
    </div>
{% endif %}

<div class="container" style="width:100%;">
    <div class="block2">
        <br>
        <br>
        <br>
        <br>
        <img class="index-img"src="static/yt.jpg"/>
    </div>
    <div class="block">
        <br>
        <p style="text-align: left">O YouTube Data Cloud é uma ferramenta para coleta e análise de dados do YouTube. </p>
        <p style="text-align: left">É possível fazer uma coleta de dados a partir de um vídeo ou de um termo de busca. Os dados coletados podem ser visualizados em forma de lista ou de grafo. Também é possível fazer o download das tabelas.</p>
        <p style="text-align: left">O modo de coleta salva todos os dados de todos os vídes recomendados, enquando o de navegação coleta apenas o dos vídeos selecionados</p>
        <p style="text-align: left">Para utilizar é necesário ter uma chave da YouTube Data API (v3). Para criar uma chave da API siga o tutorial <a href="https://www.youtube.com/watch?v=_6svoi_mD5E">aqui</a>. Para ver as cotas de uso da API clique <a href="https://console.developers.google.com/apis/api/youtube.googleapis.com/quotas">aqui</a>. Para acessar o painel de estado da API clique <a href="https://console.developers.google.com/apis/dashboard">aqui</a>. Também é possível acessar a documentação da API <a href="https://developers.google.com/youtube/v3">aqui</a>.</p>

        <form action="/" method="post">
            <!--<input type="radio" name="mode" value="nav">Navegar<br>
            <input type="radio" name="mode" value="col">Coletar<br>-->

            <input autocomplete="off" class="form-control" name="newapi" placeholder="Chave da API" type="text"><br><br>
            <button class="btn btn-primary" type="submit">Próximo</button>
        </form>



    </div>

</div>
<footer class="small text-center text-muted">
    Ferramenta desenvolvida por Daniel Loiola, membro do R-EST/UFMG. Código disponível no <a href="https://github.com/danielfeloiola/ytd-cloud">GitHub</a>.
    Desenvolvida com apoio da FAPEMIG através do edital Universal 2016 (projeto APQ-02153-16)
</footer>

{% endblock %}
