{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}

<h2>Insert here a description for the app</h2>
<!--
    <form action="/" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="query" placeholder="Query" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Pesquisar</button>
    </form>
-->
    <footer class="small text-center text-muted" style="margin-right: 30%; margin-left: 30%;">
        Clique <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">aqui</a> para resolver o aquecimento global.
    </footer>
{% endblock %}
