{% extends "layout.html" %}

{% block title %}
    Navegar
{% endblock %}

{% block main %}
    <form action="/navegar" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="query" placeholder="Query" type="text">
        </div>
        <input type="checkbox" name="seed-mode" value="True"> Use um video_id como seed<br><br>
        <button class="btn btn-primary" type="submit">Pesquisar</button>
    </form>

    <footer class="small text-center text-muted" style="align: center">
        Código disponível no <a href="https://github.com/">GitHub</a>.
    </footer>
{% endblock %}
