{% extends "layout.html" %}

{% block title %}
    Navegar
{% endblock %}

{% block main %}
    <form action="/navegar" method="post">

        <hr>
        <input type="radio" name="radio" value="query">Pesquisa<br>
        <br>
        <input autocomplete="off" autofocus class="form-control" name="query" placeholder="Termo de busca" type="text"><br><br>
        <hr>
        <input type="radio" name="radio" value="seed">Seed<br>
        <br>
        <input autocomplete="off" autofocus class="form-control" name="videoid" placeholder="video_id" type="text"><br><br>

        <hr>
        <input autocomplete="off" class="form-control" name="maxresults" placeholder="Max Results (1-50)" type="number"><br><br>

        <input type="checkbox" name="save" value="True"> Salvar os dados na tabela<br><br>
<!--

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="query" placeholder="Query" type="text">
        </div>
        <input type="checkbox" name="seed-mode" value="True"> Use um video_id como seed<br><br>
-->
        <button class="btn btn-primary" type="submit">Pesquisar</button>

    </form>


{% endblock %}
