{% extends "layout.html" %}

{% block title %}
    Registrar
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Senha" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirme a senha" type="password">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control" name="consumer_key" placeholder="Consumer Key" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="consumer_secret" placeholder="Consumer Secret" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="access_token" placeholder="Access Token" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="access_secret" placeholder="Access Token Secret" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Registrar</button>
    </form>
{% endblock %}
